@import "tailwindcss";

@font-face {
  font-family: "nunito";
  src: url('./assets/fonts/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: "crazy";
  src: url('./assets/fonts/Holysweet-rgn4K.otf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica,"crazy","nunito",sans-serif;
}

@keyframes fadeSlideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@layer {
  .font-nunito {
      font-family: "nunito";
      @apply font-bold
  }

  .font-crazy {
      font-family: "crazy";
  }
}
