@import "tailwindcss";

@layer components {
    .landing-page-bg {
        background-color: #f5fff6;
        opacity: 1;
        background-image:  radial-gradient(#3b944f 1.05px, transparent 1.05px), radial-gradient(#3b944f 1.05px, #f5fff6 1.05px);
        background-size: 42px 42px;
        background-position: 0 0,21px 21px;
    }

}